* 
{
	box-sizing: border-box;
}

body 
{
	overflow-x: auto;
	overflow-y: auto;
    background-image: url("./assets/background.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	background-size: cover;
	background-color: #3A3A40;
	font-family: "JetBrains Mono", monospace;
    font-size: 1.5vw;
	color: #ffffff;
}

a
{
	color: #ffffff;
	text-decoration: none;
}

#container
{
	position: relative;
	margin: auto auto;
	width: 90%;
}

#web_name
{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-size: 3vw;
}

#box-1
{
    position: relative;
	height: 25.75vw;
	background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px 15px 15px 15px;
}

#box-2
{
    position: relative;
	height: 22.5vw;
	background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px 15px 15px 15px;
}

#box-3
{
    position: relative;
	height: 5.5vw;
	background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px 15px 15px 15px;
}

.title
{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-size: 2.5vw;
}

#logo-1
{
	position: relative;
	top: 0.1vw;
	left: 1vw;
	width: 10.5vw;
	height: 10.5vw;
	border-radius: 15px 15px 15px 15px;
	transition: 0.5s;
}

#logo-1:hover
{
    transform: scale(1.075);
}

#logo-3
{
	position: relative;
	top: 0.75vw;
	left: 1vw;
	width: 4vw;
	height: 4vw;
	border-radius: 15px 15px 15px 15px;
	transition: 0.5s;
}

#logo-3:hover
{
    transform: scale(1.075);
}

#logo-4
{
	display: none;
}

.link-1
{
	text-decoration: underline;
	text-decoration-color: #ffffff;
}

.link-3:hover
{
	text-decoration: underline;
	text-decoration-color: #ffffff;
}

#content
{
	display: flex;
}

#content-1
{
	position: absolute;
	top: 4vw;
	left: 12.5vw;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content-2
{
	position: absolute;
	top: 4vw;
	left: 1.5vw;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content-3
{
	position: absolute;
	display: flex;
	gap: 7.5vw;
	top: 1.75vw;
	left: 7.5vw;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	text-decoration: none;
}
  
#loading 
{
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: #3A3A40;
	justify-content: center;
	align-items: center;
}
  
#loading img 
{
	width: 75px;
	height: 75px;
}

@media screen and (max-width: 1100px)
{
	body
	{
		font-size: 16px;
	}

	#box-1
	{
		height: fit-content;
	}

	#box-2
	{
		height: fit-content;
	}

	#box-3
	{
		display: none;
	}

	#web_name
	{
		font-size: 32px;
	}

	.title
	{
		font-size: 24px;
	}

	#logo-1
	{
		display: none;
	}

	#content-1
	{
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-left: 16px;
		padding-right: 16px;
	}

	#content-2
	{
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-right: 16px;
	}

	#logo-4
	{
		display: flex;
		width: 32px;
		height: 32px;
	}
}