@import "mocha.css";

*
{
	box-sizing: border-box;
}

body
{
	margin: 0;
	top: 0;
	height: 100vh;
	overflow: auto;
    background-color: var(--base00);
	font-family: "Fira Mono", monospace;
}

#container 
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
    font-size: 24px;
    color: var(--base02);
}

#box
{
    width: 350px;
    height: 520px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
    background-color: var(--base04);
    border-radius: 15px 15px 15px 15px;
}

#content
{
	overflow: hidden;
	position: relative;
    width: 100%;
    height: 70px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	white-space: pre-wrap;
    background-color: var(--base06);
    border-radius: 15px 15px 15px 15px;
	color: var(--base02);
}

#article
{
	display: flex;
	gap: 20px;
	flex-direction: row;
}

.btn
{
	position: relative;
	top: 25px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	user-select: none;
}

.row
{
	display: flex;
	gap: 25px;
}

.sqr
{
	width: 65px;
	height: 65px;
	background-color: var(--base0D);
	border-style: solid;
	border-width: 1px;
	border-color: var(--base00);
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.zero
{
	width: 155px;
	background-color: var(--base0C);
	border-radius: 35px 35px 35px 35px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--base00);
}

.equal
{
	width: 65px;
	height: 150px;
	background-color: var(--base08);
	border-radius: 35px 35px 35px 35px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--base00);
}

.op
{
	background-color: var(--base0F);
}

.clear
{
	background-color: var(--base09);
}

.backspace
{
	background-color: var(--base0A);
}

#message
{
	display: none;
}