<details>
    <summary> <b> ASCII table </b> </summary>

    <div>
        <table>
            <tr>
                <th scope="col"> Dec </th>
                <th scope="col"> Char </th>
            </tr>
            <tr>
                <th scope="row"> 0 </th>
                <td align="center"> NUL </td>
            </tr>
            <tr>
                <th scope="row"> 1 </th>
                <td align="center"> SOH </td>
            </tr>
            <tr>
                <th scope="row"> 2 </th>
                <td align="center"> STX </td>
            </tr>
            <tr>
                <th scope="row"> 3 </th>
                <td align="center"> ETX </td>
            </tr>
            <tr>
                <th scope="row"> 4 </th>
                <td align="center"> EOT </td>
            </tr>
            <tr>
                <th scope="row"> 5 </th>
                <td align="center"> ENQ </td>
            </tr>
            <tr>
                <th scope="row"> 6 </th>
                <td align="center"> ACK </td>
            </tr>
            <tr>
                <th scope="row"> 7 </th>
                <td align="center"> BEL </td>
            </tr>
            <tr>
                <th scope="row"> 8 </th>
                <td align="center"> BS </td>
            </tr>
            <tr>
                <th scope="row"> 9 </th>
                <td align="center"> HT </td>
            </tr>
            <tr>
                <th scope="row"> 10 </th>
                <td align="center"> LF </td>
            </tr>
            <tr>
                <th scope="row"> 11 </th>
                <td align="center"> VT </td>
            </tr>
            <tr>
                <th scope="row"> 12 </th>
                <td align="center"> FF </td>
            </tr>
            <tr>
                <th scope="row"> 13 </th>
                <td align="center"> CR </td>
            </tr>
            <tr>
                <th scope="row"> 14 </th>
                <td align="center"> SO </td>
            </tr>
            <tr>
                <th scope="row"> 15 </th>
                <td align="center"> SI </td>
            </tr>
            <tr>
                <th scope="row"> 16 </th>
                <td align="center"> DLE </td>
            </tr>
            <tr>
                <th scope="row"> 17 </th>
                <td align="center"> DC1 </td>
            </tr>
            <tr>
                <th scope="row"> 18 </th>
                <td align="center"> DC2 </td>
            </tr>
            <tr>
                <th scope="row"> 19 </th>
                <td align="center"> DC3 </td>
            </tr>
            <tr>
                <th scope="row"> 20 </th>
                <td align="center"> DC4 </td>
            </tr>
            <tr>
                <th scope="row"> 21 </th>
                <td align="center"> NAK </td>
            </tr>
            <tr>
                <th scope="row"> 22 </th>
                <td align="center"> SYN </td>
            </tr>
            <tr>
                <th scope="row"> 23 </th>
                <td align="center"> ETB </td>
            </tr>
            <tr>
                <th scope="row"> 24 </th>
                <td align="center"> CAN </td>
            </tr>
            <tr>
                <th scope="row"> 25 </th>
                <td align="center"> EM </td>
            </tr>
            <tr>
                <th scope="row"> 26 </th>
                <td align="center"> SUB </td>
            </tr>
            <tr>
                <th scope="row"> 27 </th>
                <td align="center"> ESC </td>
            </tr>
            <tr>
                <th scope="row"> 28 </th>
                <td align="center"> FS </td>
            </tr>
            <tr>
                <th scope="row"> 29 </th>
                <td align="center"> GS </td>
            </tr>
            <tr>
                <th scope="row"> 30 </th>
                <td align="center"> RS </td>
            </tr>
            <tr>
                <th scope="row"> 31 </th>
                <td align="center"> US </td>
            </tr>
            <tr>
                <th scope="row"> 32 </th>
                <td align="center">  </td>
            </tr>
            <tr>
                <th scope="row"> 33 </th>
                <td align="center"> ! </td>
            </tr>
            <tr>
                <th scope="row"> 34 </th>
                <td align="center"> " </td>
            </tr>
            <tr>
                <th scope="row"> 35 </th>
                <td align="center"> # </td>
            </tr>
            <tr>
                <th scope="row"> 36 </th>
                <td align="center"> $ </td>
            </tr>
            <tr>
                <th scope="row"> 37 </th>
                <td align="center"> % </td>
            </tr>
            <tr>
                <th scope="row"> 38 </th>
                <td align="center"> & </td>
            </tr>
            <tr>
                <th scope="row"> 39 </th>
                <td align="center"> ' </td>
            </tr>
            <tr>
                <th scope="row"> 40 </th>
                <td align="center"> ( </td>
            </tr>
            <tr>
                <th scope="row"> 41 </th>
                <td align="center"> ) </td>
            </tr>
            <tr>
                <th scope="row"> 42 </th>
                <td align="center"> * </td>
            </tr>
            <tr>
                <th scope="row"> 43 </th>
                <td align="center"> + </td>
            </tr>
            <tr>
                <th scope="row"> 44 </th>
                <td align="center"> , </td>
            </tr>
            <tr>
                <th scope="row"> 45 </th>
                <td align="center"> - </td>
            </tr>
            <tr>
                <th scope="row"> 46 </th>
                <td align="center"> . </td>
            </tr>
            <tr>
                <th scope="row"> 47 </th>
                <td align="center"> / </td>
            </tr>
            <tr>
                <th scope="row"> 48 </th>
                <td align="center"> 0 </td>
            </tr>
            <tr>
                <th scope="row"> 49 </th>
                <td align="center"> 1 </td>
            </tr>
            <tr>
                <th scope="row"> 50 </th>
                <td align="center"> 2 </td>
            </tr>
            <tr>
                <th scope="row"> 51 </th>
                <td align="center"> 3 </td>
            </tr>
            <tr>
                <th scope="row"> 52 </th>
                <td align="center"> 4 </td>
            </tr>
            <tr>
                <th scope="row"> 53 </th>
                <td align="center"> 5 </td>
            </tr>
            <tr>
                <th scope="row"> 54 </th>
                <td align="center"> 6 </td>
            </tr>
            <tr>
                <th scope="row"> 55 </th>
                <td align="center"> 7 </td>
            </tr>
            <tr>
                <th scope="row"> 56 </th>
                <td align="center"> 8 </td>
            </tr>
            <tr>
                <th scope="row"> 57 </th>
                <td align="center"> 9 </td>
            </tr>
            <tr>
                <th scope="row"> 58 </th>
                <td align="center"> : </td>
            </tr>
            <tr>
                <th scope="row"> 59 </th>
                <td align="center"> ; </td>
            </tr>
            <tr>
                <th scope="row"> 60 </th>
                <td align="center"> < </td>
            </tr>
            <tr>
                <th scope="row"> 61 </th>
                <td align="center"> = </td>
            </tr>
            <tr>
                <th scope="row"> 62 </th>
                <td align="center"> > </td>
            </tr>
            <tr>
                <th scope="row"> 63 </th>
                <td align="center"> ? </td>
            </tr>
            <tr>
                <th scope="row"> 64 </th>
                <td align="center"> @ </td>
            </tr>
            <tr>
                <th scope="row"> 65 </th>
                <td align="center"> A </td>
            </tr>
            <tr>
                <th scope="row"> 66 </th>
                <td align="center"> B </td>
            </tr>
            <tr>
                <th scope="row"> 67 </th>
                <td align="center"> C </td>
            </tr>
            <tr>
                <th scope="row"> 68 </th>
                <td align="center"> D </td>
            </tr>
            <tr>
                <th scope="row"> 69 </th>
                <td align="center"> E </td>
            </tr>
            <tr>
                <th scope="row"> 70 </th>
                <td align="center"> F </td>
            </tr>
            <tr>
                <th scope="row"> 71 </th>
                <td align="center"> G </td>
            </tr>
            <tr>
                <th scope="row"> 72 </th>
                <td align="center"> H </td>
            </tr>
            <tr>
                <th scope="row"> 73 </th>
                <td align="center"> I </td>
            </tr>
            <tr>
                <th scope="row"> 74 </th>
                <td align="center"> J </td>
            </tr>
            <tr>
                <th scope="row"> 75 </th>
                <td align="center"> K </td>
            </tr>
            <tr>
                <th scope="row"> 76 </th>
                <td align="center"> L </td>
            </tr>
            <tr>
                <th scope="row"> 77 </th>
                <td align="center"> M </td>
            </tr>
            <tr>
                <th scope="row"> 78 </th>
                <td align="center"> N </td>
            </tr>
            <tr>
                <th scope="row"> 79 </th>
                <td align="center"> O </td>
            </tr>
            <tr>
                <th scope="row"> 80 </th>
                <td align="center"> P </td>
            </tr>
            <tr>
                <th scope="row"> 81 </th>
                <td align="center"> Q </td>
            </tr>
            <tr>
                <th scope="row"> 82 </th>
                <td align="center"> R </td>
            </tr>
            <tr>
                <th scope="row"> 83 </th>
                <td align="center"> S </td>
            </tr>
            <tr>
                <th scope="row"> 84 </th>
                <td align="center"> T </td>
            </tr>
            <tr>
                <th scope="row"> 85 </th>
                <td align="center"> U </td>
            </tr>
            <tr>
                <th scope="row"> 86 </th>
                <td align="center"> V </td>
            </tr>
            <tr>
                <th scope="row"> 87 </th>
                <td align="center"> W </td>
            </tr>
            <tr>
                <th scope="row"> 88 </th>
                <td align="center"> X </td>
            </tr>
            <tr>
                <th scope="row"> 89 </th>
                <td align="center"> Y </td>
            </tr>
            <tr>
                <th scope="row"> 90 </th>
                <td align="center"> Z </td>
            </tr>
            <tr>
                <th scope="row"> 91 </th>
                <td align="center"> [ </td>
            </tr>
            <tr>
                <th scope="row"> 92 </th>
                <td align="center"> \ </td>
            </tr>
            <tr>
                <th scope="row"> 93 </th>
                <td align="center"> ] </td>
            </tr>
            <tr>
                <th scope="row"> 94 </th>
                <td align="center"> ^ </td>
            </tr>
            <tr>
                <th scope="row"> 95 </th>
                <td align="center"> _ </td>
            </tr>
            <tr>
                <th scope="row"> 96 </th>
                <td align="center"> ` </td>
            </tr>
            <tr>
                <th scope="row"> 97 </th>
                <td align="center"> a </td>
            </tr>
            <tr>
                <th scope="row"> 98 </th>
                <td align="center"> b </td>
            </tr>
            <tr>
                <th scope="row"> 99 </th>
                <td align="center"> c </td>
            </tr>
            <tr>
                <th scope="row"> 100 </th>
                <td align="center"> d </td>
            </tr>
            <tr>
                <th scope="row"> 101 </th>
                <td align="center"> e </td>
            </tr>
            <tr>
                <th scope="row"> 102 </th>
                <td align="center"> f </td>
            </tr>
            <tr>
                <th scope="row"> 103 </th>
                <td align="center"> g </td>
            </tr>
            <tr>
                <th scope="row"> 104 </th>
                <td align="center"> h </td>
            </tr>
            <tr>
                <th scope="row"> 105 </th>
                <td align="center"> i </td>
            </tr>
            <tr>
                <th scope="row"> 106 </th>
                <td align="center"> j </td>
            </tr>
            <tr>
                <th scope="row"> 107 </th>
                <td align="center"> k </td>
            </tr>
            <tr>
                <th scope="row"> 108 </th>
                <td align="center"> l </td>
            </tr>
            <tr>
                <th scope="row"> 109 </th>
                <td align="center"> m </td>
            </tr>
            <tr>
                <th scope="row"> 110 </th>
                <td align="center"> n </td>
            </tr>
            <tr>
                <th scope="row"> 111 </th>
                <td align="center"> o </td>
            </tr>
            <tr>
                <th scope="row"> 112 </th>
                <td align="center"> p </td>
            </tr>
            <tr>
                <th scope="row"> 113 </th>
                <td align="center"> q </td>
            </tr>
            <tr>
                <th scope="row"> 114 </th>
                <td align="center"> r </td>
            </tr>
            <tr>
                <th scope="row"> 115 </th>
                <td align="center"> s </td>
            </tr>
            <tr>
                <th scope="row"> 116 </th>
                <td align="center"> t </td>
            </tr>
            <tr>
                <th scope="row"> 117 </th>
                <td align="center"> u </td>
            </tr>
            <tr>
                <th scope="row"> 118 </th>
                <td align="center"> v </td>
            </tr>
            <tr>
                <th scope="row"> 119 </th>
                <td align="center"> w </td>
            </tr>
            <tr>
                <th scope="row"> 120 </th>
                <td align="center"> x </td>
            </tr>
            <tr>
                <th scope="row"> 121 </th>
                <td align="center"> y </td>
            </tr>
            <tr>
                <th scope="row"> 122 </th>
                <td align="center"> z </td>
            </tr>
            <tr>
                <th scope="row"> 123 </th>
                <td align="center"> { </td>
            </tr>
            <tr>
                <th scope="row"> 124 </th>
                <td align="center"> | </td>
            </tr>
            <tr>
                <th scope="row"> 125 </th>
                <td align="center"> } </td>
            </tr>
            <tr>
                <th scope="row"> 126 </th>
                <td align="center"> ~ </td>
            </tr>
            <tr>
                <th scope="row"> 127 </th>
                <td align="center"> DEL </td>
            </tr>
        </table>
    </div>
</details>

</br>